@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*::selection{
    background-color: #00E7FF;
}

::-webkit-scrollbar {
    width: 4px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    background: #009EFF;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5defff;
}
  
.maincontainer {
    height: 100vh;
    width: 100%;
    position: relative;
    transition: 0.1s ease-in-out;
}
.add-icon{
    position: fixed;
    z-index: 10;
    bottom: 6%;
    right: 2%;
    font-size: 80px;
    cursor: pointer;
    color: #009EFF;
    transition: 0.3s;
}
.add-icon:hover{
    transform: scale(1.1);
}
.subcontainer {
    max-width: 85%;
    position: relative;
    z-index: 8;
    margin: 0 7%;
    top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding-top: 30px;

}

.tale-container {
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    transition: 0.3s;
    background-color: #f6fdff;
}
.tale-container:hover{
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fav-icon {
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 10px;
    color: white;
    font-size: 25px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.card-img {
    height: 57%;
    width: 100%;
    user-select: none;
}

.card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-texts {
    height: 43%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.card-title {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.card-title span {
    font-weight: bold;
    font-size: 18px;
}

.card-date {
    color: rgb(131, 129, 129);
    font-weight: 500;
}

.card-tale {
    width: 100%;
    height: 18%;
    overflow: hidden;
}

.card-tale span {
    font-size: 15px;
}
  .card-locations{
    height: 30%;
    width: 
    100%;
  }
  .locations{
    height: auto;
    background-color:#d3fffa;
    color: #009EFF;
    display: inline;
    padding: 3px 10px;
    border-radius: 5px;

  }
  .locations span{
    font-size: 15px;
    font-weight: 600;
  }
  .cardLocation-icon{
    padding-top: 5px;
    margin-right: 5px;
  }
.maincontainer.blurred{
    filter: blur(5px);
    opacity: 0.6;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: fixed;
}

.fav-icon.visible{
    color: red;
}
