.viewer-container{
    height: 85%;
    width: 35%;
    background-color: white;
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.viewer-header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5%;
}
.update-btn{
    height: 45%;
    width: auto;
    background-color: #C5FFF8;
    color: #009EFF;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    cursor: pointer;
    gap: 5px;
    user-select: none;
}
.update-icon{
    font-size: 20px;
    font-weight: bolder;
}
.delete-btn{
    height: 45%;
    width: auto;
    background-color: rgb(253, 222, 222);
    color: red;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    cursor: pointer;
    gap: 5px;
    font-size: 15px;
    user-select: none;
}
.delete-icon{
    font-size: 20px;
    font-weight: bolder;
}
.close-viewer{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-icon{
    font-size: 25px;
    color: rgb(133, 132, 132);
    transition: 0.1s;
    cursor: pointer;
}
.close-icon:hover{
    color: black;
}
.title-container{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}
.title-container span{
    width: 100%;
    height: 50%;
    font-size: 25px;
    padding: 10px;
    font-weight: 600;
}
.date-locations{
    width: 100%;
    height: 12%;
    display: flex;
}
.date-container{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.date-container span{
    color: #686D76;
    font-weight: 600;
}
.location-container{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.location-text{
    background-color: #C5FFF8;
    color: #009EFF;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
}
.location-text span{
    font-size: 15px;
    font-weight: 600;
}
.location-icon{
    font-size: 18px;
}
.img-container{
    height: 50%;
    width: 100%;
}
.img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.text-speech{
    height: 7%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.speakerOn-icon, .speakerOff-icon{
    font-size: 28px;
    color: #6f6f6f;
    margin-right: 3px;
    cursor: pointer;
    transition: 0.2s;
}
.speakerOn-icon:hover, .speakerOff-icon:hover{
    transform: scale(1.10);
}
.tale-viewer{
    height: auto;
    width: 100%;
    text-align: justify;
    padding: 10px 0;
    box-sizing: border-box;
}
.viewer-container.visible{
    display: block;
}
.viewer-container.hidden{
    display: none;
}