.form-container{
    height: 85%;
    width: 35%;
    background-color: white;
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    
}
.form-header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addStory-title{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}
.addStory-title span{
    font-size: 20px;
    font-weight: bold;
}
.header-right{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
}
.addStory-btn{
    height: 45%;
    width: auto;
    background-color: #C5FFF8;
    color: #009EFF;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    cursor: pointer;
}
.form-addbtn{
    font-size: 20px;
    font-weight: bolder;
    padding: 3px;
}
.addStory-btn span{
    font-weight: 600;
    user-select: none;
}
.closeContainer{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: end;

}
.form-closeBtn{
    font-size: 25px;
    color: rgb(133, 132, 132);
    transition: 0.1s;
    cursor: pointer;
}
.form-closeBtn:hover{
    color: black;
}
form{
    height: 90%;
    width: 100%;
}
.title-text{
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #686D76;
    font-weight: bolder;
    font-size: 15px;
}
.title-input{
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
}
.title-input input{
    width: 100%;
    height: 50%;
    font-size: 25px;
    border: none;
    outline: none;
    padding: 10px;
}
.title-input input::placeholder{
    color: rgb(133, 132, 132);
}
.addImg-container{
    height: 50%;
    width: 100%;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}
.addImg-btn{
    padding: 15px;
    color: #009EFF;
    font-size:30px;
    background-color: #C5FFF8;
    border-radius: 50px;
    cursor: pointer;
}
.form-img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
    border-radius: 10px;
}
.formDelete-img{
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 15px;
    font-size: 35px;
    color: red;
    cursor: pointer;
    transition: 0.3s;
}
.formDelete-img:hover{
    transform: scale(1.15);
}
.addImg-container span{
    margin-top: 20px;
    color: #686D76;
}
.formDate-container{
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
}
.formDate-container input[type='date']{
    color: #009EFF;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 5px 8px;
    background-color: #d7fdf8;
    font-weight: 500;
    border-radius: 5px;
}
.tale-text{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #686D76;
    font-weight: bolder;
    font-size: 15px;
}
.tale-form{
    height: 40%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #e6e6e6;
}
 
.tale-form textarea::placeholder{
    font-size: 18px;
    color: rgb(133, 132, 132);
}
.locations-text{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #686D76;
    font-weight: bolder;
    font-size: 15px;
}
.locations-listContainer{
    height: 7;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: auto;
    scrollbar-width: none;
    
}
.locations-list{
    height: 40%;
    width: auto;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 3px 10px;
    border-radius: 3px;
    cursor: default;
    background-color: #C5FFF8;
}
.locationList-icon{
    color: #009EFF;
}
.locations-list span{
    background-color: #C5FFF8;
    color: #009EFF;
    font-size: 15px;
    font-weight: 500;
}
.location-remover{
    color: #009EFF;
    cursor: pointer;
}
.location-input{
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.location-input input{
    border: 1px solid grey;
    outline: none;
    padding: 7px;
    width: 30%;
    border-radius: 5px;
}
.addLocation-btn{
    font-size: 25px;
    padding: 2px;
    border: 2px solid #009EFF;
    font-weight: bolder;
    border-radius: 5px;
    color: #009EFF;
    cursor: pointer;
    transition: 0.1s;
}
.addLocation-btn:hover{
    color: white;
    background-color: #009EFF;
}

.form-container.hidden {
    display: none;
  }
  
  .form-container.visible {
    display: block;
  }

  

  