.nav-container{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 3px solid lightgray;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;
}
.nav-logo{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo span{
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #009EFF;
}
.search-group{
    height: 30%;
    width: 20%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
.search-group input{
    width: 100%;
    height: 90%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
    background-color: #f9f9f9;
}
.search-icon{
    font-size: 25px;
    color: grey;
}
.nav-user{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
}
.profile{
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-initial{
    padding: 6% 10%;
    border-radius: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    border: 1px solid grey;
    background-color:#ebebeb;
}
.username{
    font-weight: 500;
}
.logout{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout-icon{
    font-size: 30px;
    cursor: pointer;
}
.logout-icon:hover{
    color: red;
}
.nav-container.blurred{
    filter: blur(5px);
    opacity: 0.6;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.2);
}